.tahoma {
  font-family: 'Tahoma';
  font-size: 30px;
  color: 'red'
}

.phosphate {
  font-family: 'Phosphate';
  font-size: 30px;
  color: #686878
}

.gill-sans {
  font-family: 'GillSans';
  font-size: 17px;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
}

.copperplate {
  font-family: 'Copperplate';
  font-size: 20px;
}

.futura {
  font-family: 'Futura';
}
