.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: 'rgb(0;0;0)';
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* .header {
    display: flex;
    flex-direction: column;
  } */
