


  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  /* @media (max-width: 505px) {
    .headerContainer {
      display: flex;
      flex-direction: row;
      margin-top: 15;
      margin-right: 15;
      margin-bottom: -20
    }
  } */
