html {
  scroll-snap-type: y mandatory;
}

*,
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'OpenSans';
}

.open-sans {
  font-family: 'OpenSans';
  font-size: 25px;
  color: 'red'
}

.rmo {
  font-family: 'RMO';
  font-size: 30px;
  color: 'red'
}

@font-face {
  font-family: "OpenSans";
  src:
    local('OpenSans')
    url('./assets/fonts/OpenSans.ttf') format("ttf"),
}

@font-face {
  font-family: "RMO";
  src:
    local('RMO')
    url('./assets/fonts/RubikMonoOne.ttf') format("ttf"),
}

@font-face {
  font-family: "Tahoma";
  src:
    local('Tahoma')
    url('./assets/fonts/TahomaBold.ttf') format("ttc"),
}

@font-face {
  font-family: "Phosphate";
  src:
    local('Phosphate')
    url('./assets/fonts/Phosphate.ttc') format("ttc"),
}

@font-face {
  font-family: "GillSans";
  src:
    local('GillSans')
    url('./assets/fonts/GillSans.ttc') format("ttc"),
}

@font-face {
  font-family: "Copperplate";
  src:
    local('Copperplate')
    url('./assets/fonts/Copperplate.ttc') format("ttc"),
}

@font-face {
  font-family: "Futura";
  src:
    local('Futura')
    url('./assets/fonts/Futura.ttc') format("ttc"),
}
